@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #333333;
  --primary: #1DA1F2; /* Основной синий цвет Twitter */
  --secondary: #E1E8ED; /* Светло-серый */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1C1C1C;
    --foreground: #E1E8ED;
    --primary: #1DA1F2;
    --secondary: #657786;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

a {
  color: var(--primary);
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  color: #1a91da;
}

button {
  background: transparent;
  border: none;
  cursor: pointer;
}

button:hover {
  color: var(--primary);
}
